<!--
 - 帖子详情页html
 - author：chenhuayang 2018/7/20
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title id="post-detail-title" class="post-detail-title"></title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/post/postDetail.js}"></script>
</head>
<body>
<h1 class="atl-title">
	<span class="s_title" style="font-weight:400;" th:text="${post.title}"></span>
</h1>
<!-- 帖子内容 -->
<div>
	<img th:src="${post.icon}"><br><img ><br>
	<p th:text="${post.article}"></p>
</div>
<!-- 帖子下方的功能键 -->
<div>
	<a href="javascript:void(0)" title="评论" th:onclick="'javascript:opComment(`'+${post.code}+'`)' " >评论</a>
	(<span id="commentAmount" th:text="${post.replyAmount}"></span>)
	<span style="margin: 0 8px;"></span>
	<a id="clickPraise" title="点赞" href="javascript:void(0);" th:onclick="'javascript:opPraise(`'+${post.code}+'`)' ">点赞</a>
	（<span id="praiseAmount" th:text="${post.praiseAmount}"></span>）
	<input id ="praiseOrNot"  type="hidden" value="1"></input>
	<span class="split-line" style="margin: 0 8px;"></span>
	<a title="举报" href="javascript:void(0)" id="addComplain">举报</a>
	<div id="comment-wrapper" class="comment-wrapper"></div>
	<div id="comment-list" class="comment-list"></div>
</div>
</body>
<script>
function opComment(postCode) {
 	var strHtml = `<div class="comment-title">
	<div class="cm-prompt">输入您的评论！</div>
	<div class="cm-title">评论</div>
	</div>
	<div class="comment-area">
	<textarea id ="`+ postCode+`textarea" class="cm-textarea" data-text="" bindcursor="true"></textarea>
	<input id="`+postCode+`cm-publish" onclick="commentPublish('`+postCode+`')" class="cm-button" type="button" title="发布" value="发布">
	</div>`;
 	var commentId = "#comment-wrapper";
	$(commentId).html(strHtml);
	/* 获取评论并展示评论列表 */
	$.ajax({ 
		type: "POST", 
        data:"postCode="+postCode,
        dataType:"json",
        url: "/post/getComment",
        async: true, 
        success: function(data) {
        	var strListHtml = "";
        	for(var i =0 ;i<data.length;i++){
        		strListHtml+=`<!-- 评论内容 -->
				<div class="comment-item">
					<div class="cm-pic">
						<a href="#"><img src="http://tx.tianyaui.com/logo/small/136682725" title="无事不登宝三殿" alt="无事不登宝三殿">
						</a>
					</div>
					<div class="cm-info">
						<p class="info-name"><a href="#" title="无事不登宝三殿">无事不登宝三殿</a></p>
						<div class="info-content">`+data[i]["content"]+`
						<span class="time">(今天&nbsp;10:27)</span>
						</div>
					</div>
				</div>`;
        	}
        	var commentId = "#comment-list";
        	$(commentId).html(strListHtml); 
        },
        error: function(error){
			alert("错误了！！！");
		}
    });
};

/*
*  发表评论
*
* */
function commentPublish(postCode){
	var contentId = "#"+postCode+"textarea";
	var content = $(contentId).val();
	$.ajax({
		type: "POST", 
        data:{
        	"postCode":postCode,
        	"content":content
        },
        url: "/post/commentPublish",
        async: true, 
        success: function(data) {
        	opComment(postCode);
        	$("#commentAmount").html(data)
        },
        error:function(){
        	alert("发表评论出错！");
        }
	});
}; 

/*
*	author : wangshixu 2018/7/25 11:46
*	点赞
*/
function opPraise(postCode){
	var flag = $("#praiseOrNot").val();
	$.ajax({ 
		type: "POST", 
	       data:{
	    	   "postCode":postCode,
	    	   "flag":flag
	       },
	       dataType:"json",
	       url: "/about/praise",
	       async: true, 
	       success: function(data) {
	    	   if(flag==1){
	    			$("#clickPraise").html("取消赞");	
	    			$("#praiseOrNot").val(-1);
	    		}else{
	    			$("#clickPraise").html("点赞");		
	    			$("#praiseOrNot").val(1);
	    		}
	       	$("#praiseAmount").html(data);
	       },
	 });
	
}
</script>
</html>