<html xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<meta charset="utf-8">
		<title>用户注册</title>
		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/common.css" />
		<script type="text/javascript" src="/js/jquery.min.js" ></script>
		<script type="text/javascript" src="/js/common.js" ></script>
		<script type="text/javascript"  th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script type="text/javascript"  th:src="@{/js/user/UserRegistCheck.js}"></script>
	</head>
	<body>
		<div class="wrap login_wrap">
			<div class="content">
				
				<div class="logo"></div>
				
				<div class="login_box">	
					
					<div class="login_form">
						<div class="login_title">
							注册
						</div>
						<form action="registSubmit" method="post" id="form">
							
							<div class="form_text_ipt">
								<input name="account" type="text" placeholder="手机号/邮箱">
							</div>
							<div class="ececk_warning"><span>数据不能为空</span></div>
							
							
							<div class="form_text_ipt">
								<input name="userName" type="text" placeholder="用户名">
							</div>
							<div class="ececk_warning"><span>数据不能为空</span></div>
							
							<div class="form_text_ipt">
								<input name="password" type="password" placeholder="密码">
							</div>
							<div class="ececk_warning"><span>数据不能为空</span></div>
							<div class="form_text_ipt">
								<input name="password2" type="password" placeholder="确认密码">
							</div>
							<div class="ececk_warning"><span>数据不能为空</span></div>
							
							<div class="form_btn">
								<button type="button" id="UserRegist">注册</button>
							</div>
							<div class="form_reg_btn">
								<span>已有帐号？</span><a href="./demo">马上登录</a>
							</div>
						</form>
						<div class="other_login">
							<div class="left other_left">
								<span>其它登录方式</span>
							</div>
							<div class="right other_right">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</body>
</html>
