html {
    border: 2px solid #ccc;
}
label, input, textarea, select {
    margin-bottom: 10px;
}
#postTitle,#postHost {
    color: #9D9D9D;
    width: 226px;
}
.messageLabel {
    position: absolute;
}
.message {
    margin-left: 84px;
    width: 200px;
    padding: 0 15px;
    overflow-y: scroll;
    height: 140px;
}
.typeCode {
    width: 232px;
}
#saveComplain {
    margin-left: 140px;
}
option {
    margin-left: 10px;
}
#text-count {
    color: #FF0000;
    position: relative;
    margin-left: 90%;
}