#left {
    width: 130px;
    padding: 5px 0 10px;
    margin-right: 10px;
    float: left;
    _overflow: hidden;
    height: 400px;
}

.bbs_left_nav {
    width: 130px;
    padding: 5px 0;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 14px;
    background: #69c;
    position: fixed;
    top: 44px;
    bottom: 0;
}

.wrap-1 {
    background: #d2e4ff;
}

#right {
    width: 180px;
    padding: 7px 0 10px;
    float: right;
    overflow: hidden;
}

#main {
    float: left;
    padding: 0 0 7px;
    _overflow: hidden;
    _margin-left: 0;
    width: 670px;
}

.wrap-bd-in {
    border: solid 1px #c4dbfa;
    background: #f8f8f8;
}