/**
 * 注册密码难易程度提示
 * @author chenhuayang
 * @version 2018/10/16
 */
.danger{
    background-color: #fd1b56;
}
.yellow{
    background-color: #ff8957;
}
.green{
    background-color: #2FE30E;
}
.blue{
    background-color: #2685e3;
}
.color{
    list-style: none;
    overflow: hidden;
    width: 100%;
}
.color li{
    width: 24%;
    float: left;
    text-align: center;
    border:1px solid #eee;
}
.color li:nth-child(2){
    border-left:none;
    border-right:none;
}