<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/user/userDetail.js}"></script>
    <title>添加分类</title>
    <link href="/css/css.css" type="text/css" rel="stylesheet"/>
    <link href="/css/main.css" type="text/css" rel="stylesheet"/>
    <link href="/css/moduleCss.css" type="text/css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/images/main/favicon.ico"/>
</head>
<body>
<!--main_top-->
<table width="99%" border="0" cellspacing="0" cellpadding="0" id="searchmain">
    <tr>
        <td width="99%" align="left" valign="top">您的位置：版块管理&nbsp;&nbsp;>&nbsp;&nbsp;添加分类</td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <form method="post" id="form" th:action="@{/post/updatePostClass}">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="main-tab">
                    <tr onMouseOut="this.style.backgroundColor='#ffffff'"
                        onMouseOver="this.style.backgroundColor='#edf5ff'">
                        <td align="right" valign="middle" class="borderright borderbottom bggray">分类名称：</td>
                        <td align="left" valign="middle" class="borderright borderbottom main-for">
                            <input type="text" name="className" class="text-word">
                        </td>
                        <td th:if="${errornull}!=null"><font color="red">[[${errornull}]]</font></td>
                    </tr>
                    <tr onMouseOut="this.style.backgroundColor='#ffffff'"
                        onMouseOver="this.style.backgroundColor='#edf5ff'">
                        <td align="right" valign="middle" class="borderright borderbottom bggray">&nbsp;</td>
                        <td align="left" valign="middle" class="borderright borderbottom main-for">
                            <input type="submit" value="确认添加" id="buttonsubmit" class="text-but">
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>
</body>
</html>