<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/module.css">
<head>
    <title>论坛版块</title>
</head>
<body>
<div id="left">
    <div id="bbs_left_nav" class="bbs_left_nav" style="top: 44px;">
        <ul class="nav_parent">
            <li><a href="">版块一</a></li>
            <li><a href="">版块二</a></li>
            <li><a href="">版块三</a></li>
            <li><a href="">版块四</a></li>
            <li><a href="">版块五</a></li>
            <li><a href="">版块六</a></li>
            <li><a href="">版块七</a></li>
            <li><a href="">版块八</a></li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="wrap-1 clearfix js-bbs-hot-list">
        <span>类别一</span>
        <div class="wrap-bd clearfix">
            <ul class="bbs-list curr">
                <li><span><a href="">标题一</a></span>/li>
                <li><span><a href="">标题一</a></span>/li>
                <li><span><a href="">标题一</a></span>/li>
                <li><span><a href="">标题一</a></span>/li>
            </ul>
            <div class="page">
                <a href="" class="sel">1</a>
                <a href="">2</a>
            </div>
        </div>
    </div>
    <div class="wrap-1 clearfix js-bbs-hot-list">
        <span>类别一</span>
        <div class="wrap-bd clearfix">
            <ul class="bbs-list curr">
                <li><span><a href="">标题一</a></span>/li>
                <li><span><a href="">标题一</a></span>/li>
                <li><span><a href="">标题一</a></span>/li>
                <li><span><a href="">标题一</a></span>/li>
            </ul>
            <div class="page">
                <a href="" class="sel">1</a>
                <a href="">2</a>
            </div>
        </div>
    </div>
    <div class="wrap-1 clearfix js-bbs-hot-list">
        <span>类别一</span>
        <div class="wrap-bd clearfix">
            <ul class="bbs-list curr">
                <li><span><a href="">标题一</a></span>/li>
                <li><span><a href="">标题一</a></span>/li>
                <li><span><a href="">标题一</a></span>/li>
                <li><span><a href="">标题一</a></span>/li>
            </ul>
            <div class="page">
                <a href="" class="sel">1</a>
                <a href="">2</a>
            </div>
        </div>
    </div>
    <div class="wrap-1 clearfix js-bbs-hot-list">
        <span>类别一</span>
        <div class="wrap-bd clearfix">
            <ul class="bbs-list curr">
                <li><span><a href="">标题一</a></span>/li>
                <li><span><a href="">标题一</a></span>/li>
                <li><span><a href="">标题一</a></span>/li>
                <li><span><a href="">标题一</a></span>/li>
            </ul>
            <div class="page">
                <a href="" class="sel">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <a href="">6</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>