<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>帖子分类</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link href="/css/css.css" type="text/css" rel="stylesheet"/>
    <link href="/css/postClassCss.css" type="text/css" rel="stylesheet"/>
    <link href="/css/main.css" type="text/css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/images/main/favicon.ico"/>
</head>
<body>
<!--main_top-->
<table width="99%" border="0" cellspacing="0" cellpadding="0" id="searchmain">
    <tr>
        <td width="99%" align="left" valign="top">您的位置：版块管理</td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="search">
                <tr>
                    <td width="10%" align="center" valign="middle" style="text-align: right; width: 150px;">
                        <a th:href="@{/module/addPostClass(moduleCode=${moduleCode})}" target="mainFrame"
                           onFocus="this.blur()" class="add">新增分类</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="main-tab">
                <tr>
                    <th align="center" valign="middle" class="borderright">编号</th>
                    <th align="center" valign="middle" class="borderright">分类名称</th>
                    <th align="center" valign="middle" class="borderright">创建日期</th>
                    <th align="center" valign="middle">操作</th>

                </tr>
                <tr th:each="postClass,postListStat: ${postClass}" onMouseOut="this.style.backgroundColor='#ffffff'"
                    onMouseOver="this.style.backgroundColor='#edf5ff'">
                    <td align="center" valign="middle" class="borderright borderbottom"
                        th:text="${postListStat.index}+1"></td>
                    <td align="center" valign="middle" class="borderright borderbottom"
                        th:text="${postClass.className}"></td>
                    <td align="center" valign="middle" class="borderright borderbottom"
                        th:text="${#dates.format(postClass.createDate,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td align="center" valign="middle" class="borderbottom">
                        <a th:href="@{/module/editorClass(code=${postClass.code})}">编辑</a>
                        <span class="gray">&nbsp;|&nbsp;</span>
                        <a th:href="@{/module/selectPostClassByCode(classCode=${postClass.code})}">查看帖子</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>