<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>帖子详细信息</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link href="/css/css.css" type="text/css" rel="stylesheet"/>
    <link href="/css/postClassCss.css" type="text/css" rel="stylesheet"/>
    <link href="/css/main.css" type="text/css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/images/main/favicon.ico"/>
</head>
<body>
<!--main_top-->
<table width="99%" border="0" cellspacing="0" cellpadding="0" id="searchmain">
    <tr>
        <td width="99%" align="left" valign="top">您的位置：版块管理>>帖子分类>>帖子详情</td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="search">
                <tr>
                    <td width="90%" align="left" valign="middle">
                        <!-- <form method="post" action="#">
                             <input type="text" name="key" value=""
                                class="text-word"> <input  type="submit"
                                value="查询" class="text-but">
                        </form> -->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="main-tab">
                <tr>
                    <th align="center" valign="middle" class="borderright">编号</th>
                    <th align="center" valign="middle" class="borderright">帖子标题</th>
                    <th align="center" valign="middle" class="borderright">帖子创建人</th>
                    <th align="center" valign="middle" class="borderright">创建日期</th>
                    <th align="center" valign="middle">操作</th>
                </tr>
                <tr th:each="PostVoList,PostVoListStat : ${PostVoList}"
                    onMouseOut="this.style.backgroundColor='#ffffff'"
                    onMouseOver="this.style.backgroundColor='#edf5ff'">
                    <td align="center" valign="middle" class="borderright borderbottom"
                        th:text="${PostVoListStat.index}+1"></td>
                    <td align="center" valign="middle" class="borderright borderbottom"
                        th:text="${PostVoList.title}"></td>
                    <td align="center" valign="middle" class="borderright borderbottom"
                        th:text="${PostVoList.userName}"></td>
                    <td align="center" valign="middle" class="borderright borderbottom"
                        th:text="${#dates.format(PostVoList.publishDate,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td align="center" valign="middle" class="borderbottom">
                        <a href="javascript:void(0)" th:onclick="'deletePost(`'+${PostVoList.code}+'`)'">删除</a>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
<script type="text/javascript">
    function deletePost(postCode) {
        $.ajax({
            type: "POST",
            data: {
                "postCode": postCode
            },
            url: "/complain/deletePost",
            async: false,
            success: function (data) {
                alert("删帖成功！");
                window.location.reload();
            },
            error: function () {
                alert("删帖失败！");
                window.location.reload();
            }
        });
    };
</script>
</html>