.ltHead {
    width: 100%;
    height: 60px;
    background-color: #e43e20;
}

.ltHead a {
    text-decoration: none;
    color: #3cf;
    -webkit-tap-highlight-color: transparent;
}

.ltHead_cen {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}

.headPic1 {
    float: left;
    margin-top: 10px;
}

.headNav {
    float: left;
    margin-left: 40px;
}

.headNav li {
    float: left;
    font-size: 14px;
    line-height: 60px;
    margin-right: 20px;
}

.headNav li a {
    color: #fff;
}

.ltForm {
    width: 150px;
    height: 60px;
    float: right;
}

.headPic2 {
    margin-top: 15px;
    float: left;
}

.ltForm ul {
    float: left;
    margin-left: 20px;
}

.ltForm ul li {
    float: left;
    line-height: 60px;
    font-size: 14px;
    margin-right: 20px;
}

.ltForm ul li a {
    color: #fff;
}

.lt_login {
    height: 60px;
    float: right;
}

.noBlink {
    display: block;
    height: 60px;
    line-height: 60px;
    float: right;
    font-size: 14px;
    color: #fff;
    text-indent: 25px;
    background: url(../img/loginMsg.png) no-repeat 0 center;
}

/* 定义keyframe动画，命名为blink */
@keyframes blink{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
/* 添加兼容性前缀 */
@-webkit-keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-ms-keyframes blink {
    0% {opacity: 1; }
    100% { opacity: 0;}
}
@-o-keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
/* 定义blink类*/
.blink{
    color: #FFFFFF;
    display: block;
    height: 60px;
    line-height: 60px;
    float: right;
    font-size: 14px;
    text-indent: 25px;
    background: url(../img/loginMsg.png) no-repeat 0 center;
    animation: blink 1s linear infinite;
    /* 其它浏览器兼容性前缀 */
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    -ms-animation: blink 1s linear infinite;
    -o-animation: blink 1s linear infinite;
}

.lt_login ul {
    margin-left: 30px;
}

.lt_login li {
    float: left;
    line-height: 60px;
    font-size: 14px;
    margin-left: 20px;
    text-indent: 20px;
}

.lt_login li:last-of-type {
    background: url(../img/indexTc.png) no-repeat 0 center;
}

.lt_login li a {
    color: #fff;
}
