<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/data/login.js}"></script>
    <title>后台功能测试界面</title>
    <title>Insert title here</title>
</head>
<body>
<input type="button" id="go1" value="报表数据页面"/>
<input type="button" id="go2" value="手动更新定时器任务"/>
<input type="button" id="go3" value="将报表信息导出到Excel表格"/>
</body>
</html>