<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbs.post.mapper.PostClassMapper">

   <!--
   - 获取所有的类别
   - author:wangshixu 2018/8/10
   -->
   <select id="getAllPostClass"  resultType="com.bbs.domain.PostClass">
       SELECT * FROM bbs.bbs_post_class
   </select>
   <!--
   - 获取所有的类别
   - author:wangshixu 2018/8/10
   -->
   <select id="getPostClassByClassName" parameterType="String" resultType="com.bbs.domain.PostClass">
       SELECT * FROM bbs.bbs_post_class WHERE className = #{postClassName}
   </select>
</mapper>