<!--
----用户帖子投诉页面设计
----author:chenhuayang
----version:2018/7/19
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>帖子投诉</title>
    <script type="text/javascript" src="/../../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/../../js/complain/complainPublication.js"></script>
    <link rel="stylesheet" type="text/css" href="/../../css/complainPublication.css"/>
</head>
<body>
<div>
    <form action="/../../complain/saveComplain" method="post">
        <input id="complainant" name="complainant" class="complainant" th:value="${session.user1.account}"
               hidden="hidden">
        <input id="postCode" name="postCode" class="postCode" th:value="${postInfo.code}" hidden="hidden">
        <label class="postTitleLabel">帖子标题：</label>
        <input id="postTitle" name="postTitle" class="postTitle" readonly="readonly" th:value="${postInfo.title}"><br/>
        <label class="postHostLabel">帖子作者：</label>
        <input id="postHost" name="postHost" class="postHost" readonly="readonly" th:value="${postInfo.userName}"><br/>
        <label class="messageLabel">投诉内容：</label>
        <textarea id="message" name="message" class="message" bindcursor="true" maxlength="20"
                  onkeyup="this.value=this.value.substring(0, 20)" placeholder="最多可输入20字"></textarea>
        <span id="text-count">0</span>/20<br/>
        <label class="typeCodeLabel">投诉类型：</label>
        <select class="typeCode" name="typeCode" id="typeCode"></select><br/>
        <input type="submit" class="saveComplain" id="saveComplain" value="提 交">
    </form>
</div>
</body>
</html>