<!--
----搜索帖子页面
----author:chenhuayang 2018/7/19
----
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>搜索结果</title>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/post/searchingPost.js"></script>
    <link rel="stylesheet" href="/bbs/css/reset.css"/>
    <link rel="stylesheet" href="/bbs/css/homeHead.css"/>
    <link rel="stylesheet" href="/bbs/css/homePublic.css"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/bbs/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/css/search.css"/>
    <!-- 分页部分的样式 -->
    <link href="/bbs/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bbs/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/bbs/js/bootstrap-paginator.js" type="text/javascript"></script>
</head>
<body>
<header class="ltHead">
    <div class="ltHead_cen">
        <a href=""><img src="img/logo.png" alt="" class="headPic1"/></a>
        <ul class="headNav">
            <li><a href="/post/index">首页</a></li>
            <tr th:each="module : ${session.moduleList}">
                <li><a th:href="@{/post/moudelPost(code=${module.code})}" th:text="${module.moduleName}"></a></li>
            </tr>
        </ul>
        <!--未登入开始-->
        <div th:if="${session.user1==null}">
            <div class="ltForm appear">
                <a href=""><img src="img/indexForm_bg.png" alt="" class="headPic2"/></a>
                <ul>
                    <li><a th:href="@{/user1/demo}">登录</a></li>
                    <li><a th:href="@{/user1/UserRegister}">注册</a></li>
                </ul>
            </div>
        </div>
        <div th:if="${session.user1!=null}">
            <div class="lt_login appear" th:if="${session.user1.userName != null}">
                <ul>
                    <li><a href="/index/home" class="navMe" th:text="${session.user1.userName}"></a></li>
                    <li><a th:href="@{/user1/logOut}">退出</a></li>
                </ul>
            </div>
        </div>
        <!-- 隐藏框 -->
        <div th:if="${session.user1==null}">
            <div class="navFix">
                <a class="navLogin" th:href="@{/user1/demo}">登录</a>
            </div>
        </div>
    </div>
</header>
<!--搜索栏-->
<div class="searchBody">
    <div id="searching-post-result" class="searching-post-result">
        <div class="newPending_head">
            <div class="tzHeng"></div>
            <div class="newPending_head_tittle">搜索</div>
        </div>
        <input name="searchingDetails" id="searchingDetails" class="searchingDetails" type="text" value="请输入检索内容"
               style="color:#9D9D9D;"
               onfocus="if(this.value == '请输入检索内容') { this.value = ''; this.style.color='#000000';}"
               onblur="if(this.value =='') { this.value = '请输入检索内容'; this.style.color='#9D9D9D';} ">
        <input name="searchingDetails0" id="searchingDetails0" class="searchingDetails0" type="Date" value="请输入检索内容"
               style="color:#9D9D9D;"
               onfocus="if(this.value == '请输入检索内容') { this.value = ''; this.style.color='#000000';}"
               onblur="if(this.value =='') { this.value = '请输入检索内容'; this.style.color='#9D9D9D';} ">
        <select name="searchingType" id="searchingType" class="searchingType">
            <option value="1">搜帖子</option>
            <option value="2">搜作者</option>
            <option value="3">搜时间</option>
        </select>
        <input type="submit" class="searchingPoser" id="searchingPost" value="搜 索">
    </div>
    <!--搜索结果显示-->
    <div id="result-detail" class="result-detail">
        <div id="result-list-table" class="result-list-table">
        </div>
    </div>
   	<!--   分页 -->
    <div class="indexFooter">
	        <div class="container">
	         <div>
	            <ul style="padding-left: 10%;" id="page"></ul>
	        </div>
            </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        var currentPage = 1;
        var totalPages = 25;
        $("#page").bootstrapPaginator({
            bootstrapMajorVersion: 3, //对应的bootstrap版本
            currentPage: currentPage, //当前页数
            numberOfPages: 10, //每次显示页数
            totalPages: totalPages, //总页数
            shouldShowPage: true,//是否显示该按钮
            useBootstrapTooltip: true,
            //点击事件
            onPageClicked: function (event, originalEvent, type, page) {
            }
        });
    });
</script>
</html>