<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbs.complain.mapper.ComplainMapper">
    <!--
    - 用户投诉信息存储入数据库映射文件
    - author:chenhuayang 2018/7/20
    -->
    <insert id="saveComplain" parameterType="ComplainVo">
        INSERT INTO
        bbs.bbs_complain_info(code,typeCode,postCode,postTitle,message,complainant,status,createBy,createDate)
        values(#{code},#{typeCode},#{postCode},#{postTitle},#{message},#{complainant},#{status},#{createBy},#{createDate});
    </insert>
    <!--
    - 根据code搜索帖子映射文件
    - author:chenhuayang 2018/7/26
    -->
    <select id="postInfo" parameterType="String" resultType="PostVo">
        SELECT a.*,b.userName FROM bbs.bbs_post_info a LEFT JOIN bbs.bbs_user_info b ON a.hostAccount=b.account WHERE
        1=1
        <if test="_parameter != null  and _parameter != '' ">
            AND code = #{code}
        </if>
    </select>
    <select id="getComplain" parameterType="String" resultType="ComplainVo">
        SELECT a.*,b.typer,d.userName FROM ( bbs.bbs_complain_info a LEFT JOIN bbs.bbs_complain_type b ON
        a.typeCode=b.code) LEFT JOIN bbs.bbs_user_info d ON a.complainant=d.account WHERE 1=1
        <if test="_parameter != null  and _parameter != '' ">
            AND a.status = #{status}
        </if>
    </select>
    <!--
    - 下拉链表获取全部投诉类型
    - author chenhuayang
    - version 2018/7/26
    -->
    <select id="getComplainType" parameterType="ComplainVo" resultType="ComplainVo">
        SELECT * FROM bbs.bbs_complain_type
    </select>
    <!--
    - 根据code获取投诉信息
    - author chenhuayang
    - version 2018/8/16
    -->
    <select id="findComplainByCode" parameterType="String" resultType="ComplainVo">
		SELECT * FROM bbs.bbs_complain_info WHERE code = #{code}
	</select>
    <!--
    - 根据code修改投诉信息
    - author chenhuayang
    - version 2018/8/16
    -->
    <update id="updateComplainByCode" parameterType="ComplainVo">
	UPDATE bbs.bbs_complain_info SET status =#{status} WHERE code = #{code}
	</update>
    <!--
    - 根据code删除帖子并删除对应投诉信息以及对应评论信息
    - author chenhuayang
    - version 2018/8/16
    -->
    <delete id="deleteComplainAndPostAndComment" parameterType="String">
		DELETE a,b,d FROM ( bbs.bbs_post_info AS a LEFT JOIN bbs.bbs_complain_info AS b ON a.code = b.postCode) LEFT JOIN bbs.bbs_comment_info AS d ON a.code = d.postCode WHERE a.code = #{code}
	</delete>
    <!--
    - 根据code删除投诉信息
    - author chenhuayang
    - version 2018/9/6
    -->
    <delete id="deleteComplain" parameterType="String">
		DELETE FROM bbs.bbs_complain_info WHERE code = #{code}
	</delete>
</mapper>