<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>我的主页</title>
    <link rel="stylesheet" href="../../bbs/css/reset.css"/>
    <link rel="stylesheet" href="../../bbs/css/public.css"/>
    <link rel="stylesheet" href="../../bbs/css/homeHead.css"/>
    <link rel="stylesheet" href="../../bbs/css/homePublic.css"/>
    <link rel="stylesheet" href="../../bbs/css/home.css"/>
    <link rel="stylesheet" type="text/css" href="/../../css/index.css"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/person/person.js}"></script>
    <script type="text/javascript" th:src="@{/js/layer.js}"></script>
    <script type="text/javascript" th:src="@{/bbs/js/popupMenu.js}"></script>
    <script type="text/javascript" src="../../js/user/modulePost.js"></script>
</head>
<body>
<header class="ltHead">
    <div class="ltHead_cen">
        <ul class="headNav">
            <li><a href="/post/index">首页</a></li>
            <tr th:each="module : ${session.moduleList}">
                <li><a href="javascript:void(0)" class="moduleClass"
                       th:value="${module.code}" th:text="${module.moduleName}"></a></li>
            </tr>
        </ul>
        <!--未登入开始-->
        <div th:if="${session.user1==null}">
            <div class="ltForm appear">
                <ul>
                    <li><a th:href="@{/user1/demo}">登录</a></li>
                    <li><a th:href="@{/user1/UserRegister}">注册</a></li>
                </ul>
            </div>
        </div>
        <div th:if="${session.user1!=null}">
            <div class="lt_login appear" th:if="${session.user1.userName != null}">
                <ul>
                    <li th:if="${session.newMessage} != 0">
                        <a href="/../../selectMessage/selectMessage" th:text="'新消息(' + ${session.newMessage} + ')'"
                           class="blink"></a>
                    </li>
                    <li th:if="${session.newMessage} == 0">
                        <a href="/../../selectMessage/selectMessage" class="noBlink">私信</a>
                    </li>
                    <li><a href="/index/home" class="navMe" th:text="${session.user1.userName}"></a></li>
                    <li><a th:href="@{/user1/logOut}">退出</a></li>
                </ul>
            </div>
        </div>
        <!-- 隐藏框 -->
        <div th:if="${session.user1==null}">
            <div class="navFix">
                <a class="navLogin" th:href="@{/user1/demo}">登录</a>
            </div>
        </div>
    </div>
</header>
<div class="homeCen">
    <div class="homeCen_left">
        <ul th:if="${session.user1!=null}">
            <li class="on"><a href="/../../index/home">我的主页</a></li>
            <li><a href="/../../role/mangerUser">基本设置</a></li>
            <li><a href="/../../post/myPost">我的贴子</a></li>
            <li><a href="/../../selectMessage/selectMessage">我的私信</a></li>
            <li th:if="${session.user1.roleName =='版主'}"><a href="javascript:void(0)" id="moduleMessage">版块信息</a></li>
            <li th:if="${session.user1.roleName =='版主'}"><a href="/../../module/ModuleData">版块数据</a></li>
            <li th:if="${session.user1.roleName =='管理员'}"><a href="/../../role/login" target="_blank">后台数据管理</a></li>
        </ul>
    </div>
    <div class="homeCen_right">
        <div class="home_self"><img src="/images/touxiang.jpg"/></div>
        <!--男性为male，女性为female-->
        <div class="home_name">
            <p class="male" th:if="${session.user1.sex == 1}" th:text="${session.user1.userName}"></p>
            <p class="female" th:if="${session.user1.sex == 2}" th:text="${session.user1.userName}"></p>
            <p class="none" th:if="${session.user1.sex == 0}" th:text="${session.user1.userName}"></p>
        </div>
        <div class="home_msg">
            <ul>
                <li>用户身份：</li>
                <li th:text="${session.user1.roleName}"></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>