<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>论坛首页</title>
    <link rel="stylesheet" href="../../bbs/css/reset.css"/>
    <link rel="stylesheet" href="../../bbs/css/public.css"/>
    <link rel="stylesheet" href="../../bbs/css/index.css"/>
    <link rel="stylesheet" href="../../css/index.css"/>
    <link rel="stylesheet" href="../../css/top.css"/><!--返回顶部css样式-->
    <link rel="stylesheet" href="../../css/imagesRoll.css"/><!--页面右侧第一个框框图片滚动css样式-->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" src="../../js/searching.js"></script>
    <script type="text/javascript" src="../../js/user/modulePost.js"></script>
    <!-- 分页部分的样式 -->
    <link href="../../bbs/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../bbs/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../bbs/js/bootstrap-paginator.js" type="text/javascript"></script>
</head>
<body>
<header class="ltHead">
    <div class="ltHead_cen">
        <ul class="headNav">
            <li><a href="/post/index">首页</a></li>
            <tr th:each="module : ${session.moduleList}">
                <li><a href="javascript:void(0)" class="moduleClass" th:value="${module.code}"
                       th:text="${module.moduleName}"></a></li>
            </tr>
        </ul>
        <!--未登入开始-->
        <div th:if="${session.user1==null}">
            <div class="ltForm appear">
                <ul>
                    <li><a th:href="@{/user1/demo}">登录</a></li>
                    <li><a th:href="@{/user1/UserRegister}">注册</a></li>
                </ul>
            </div>
        </div>
        <div th:if="${session.user1!=null}">
            <div class="lt_login appear"
                 th:if="${session.user1.userName != null}">
                <ul>
                    <li><a href="/index/home" class="navMe" th:text="${session.user1.userName}"></a></li>
                    <li><a th:href="@{/user1/logOut}">退出</a></li>
                </ul>
            </div>
        </div>
        <!-- 隐藏框 -->
        <div th:if="${session.user1==null}">
            <div class="navFix">
                <a class="navLogin" th:href="@{/user1/demo}" style="color: #fff">登录</a>
            </div>
        </div>

        <div th:if="${session.user1!=null}">
            <div class="navFix">
                <a href="/index/home" class="navMe" th:text="${session.user1.userName}" style="color: #fff"></a>
                <a href="/index/write" class="navWrite" style="color: #fff">发新帖</a>
            </div>
        </div>
    </div>
</header>
<div class="indexMain">
    <div class="indexMain_left">
        <!--     <div class="indexMain_left_btn">
                <ul>
                    <li><a href="javascript:">置顶</a></li>
                <li><a href="javascript:" class="on">最新</a></li>
                </ul>
            </div> -->
        <div class="indexMain_left_con" id="postList">
            <tr th:each="post : ${page.result}">
                <div class="indexCon_msg">
                    <!-- <div class="indexCon_msg_pic">
                        <img src="/images/touxiang.jpg"/>
                    </div> -->
                    <div class="indexCon_msg_detail">
                        <a th:href="@{/post/getPostByCode(code=${post.code})}" target="_blank">
                            <div class="indexCon_msg_detail_tittle">
                                <span th:text="${post.className}"></span>
                                <p th:text="${post.title}"></p>
                            </div>
                        </a>
                        <div class="havePic" th:if="${post.icon}">
                            <div class="havePic_head">
                                <img class="pimg" name="pimg" th:src="${'../img/read?path=' + post.icon}" alt=""
                                     title="点击显示大图"
                                     style="width: 190px;height: 110px; cursor: pointer;">
                            </div>
                        </div>
                        <div class="indexCon_msg_detail_other">
                            <ul>
                                <li th:text="${post.userName}"></li>
                                <li th:text="${#dates.format(post.createDate,'yyyy-MM-dd HH:mm:ss')}"></li>
                                <li th:text="${post.readingAmount}"></li>
                                <li th:text="${post.replyAmount}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </tr>
        </div>
        <div class="indexFooter">
            <!--   分页 -->
            <div class="container">
                <div>
                    <ul style="justify-content: center;" id="page"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="indexMain_right">
        <div class="indexMain_rightCon">
            <a href="/index/write" class="newMsg">发新帖</a>
            <div class="pwfb">
                <div class="pwfbHead">BBS论坛</div>
                <div class="pwfbCon">
                    <div class="box">
                        <div class="pic">
                            <ul>
                                <li>
                                    <a th:href="@{/post/getPostByCode(code=${session.PostOrderByReadingAmount1.code})}">
                                        <img th:src="${'../img/read?path=' + session.PostOrderByReadingAmount1.icon}"/>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/post/getPostByCode(code=${session.PostOrderByReadingAmount2.code})}">
                                        <img th:src="${'../img/read?path=' + session.PostOrderByReadingAmount2.icon}"/>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/post/getPostByCode(code=${session.PostOrderByReadingAmount3.code})}">
                                        <img th:src="${'../img/read?path=' + session.PostOrderByReadingAmount3.icon}"/>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/post/getPostByCode(code=${session.PostOrderByReadingAmount4.code})}">
                                        <img th:src="${'../img/read?path=' + session.PostOrderByReadingAmount4.icon}"/>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/post/getPostByCode(code=${session.PostOrderByReadingAmount5.code})}">
                                        <img th:src="${'../img/read?path=' + session.PostOrderByReadingAmount5.icon}"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav">
                            <ul>
                                <li class="bg">1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="pwfbFooter">
                    <div class="title">
                        <ul>
                            <li>
                                <a th:href="@{/post/getPostByCode(code=${session.PostOrderByReadingAmount1.code})}"
                                   th:text="${session.PostOrderByReadingAmount1.title}" target="_blank"></a>
                            </li>
                            <li>
                                <a th:href="@{/post/getPostByCode(code=${session.PostOrderByReadingAmount2.code})}"
                                   th:text="${session.PostOrderByReadingAmount2.title}" target="_blank"></a>
                            </li>
                            <li>
                                <a th:href="@{/post/getPostByCode(code=${session.PostOrderByReadingAmount3.code})}"
                                   th:text="${session.PostOrderByReadingAmount3.title}" target="_blank"></a>
                            </li>
                            <li>
                                <a th:href="@{/post/getPostByCode(code=${session.PostOrderByReadingAmount4.code})}"
                                   th:text="${session.PostOrderByReadingAmount4.title}" target="_blank"></a>
                            </li>
                            <li>
                                <a th:href="@{/post/getPostByCode(code=${session.PostOrderByReadingAmount5.code})}"
                                   th:text="${session.PostOrderByReadingAmount5.title}" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="search">
                <!--
            - 搜索帖子
            - author：chenhuayang 2018/8/13
            -->
                <form action="/post/searchingPostInfo" method="post" id="searching-post-result"
                      class="searching-post-result">
                    <input name="searchingDetails" type="text" class="searchingDetails" id="searchingDetails"
                           placeholder="请输入搜索关键字">
                    <select name="searchingType" class="searchingType" id="searchingType">
                        <option value="1">搜帖子</option>
                        <option value="2">搜作者</option>
                        <option value="3">搜时间</option>
                    </select>
                    <input type="submit" class="searchingPost" id="searchingPost" value="搜 索">
                </form>
            </div>
            <div class="indexPublic">
                <div class="indexPublic_head">本周热议</div>
                <div class="indexPublic_con">
                    <ul class="weekHot">
                        <tr th:each="PostOrderByList : ${session.PostOrderByList}">
                            <li>
                                <a th:href="@{/post/getPostByCode(code=${PostOrderByList.code})}"
                                   th:text="${PostOrderByList.title}" target="_blank"></a>
                                <span th:text="${PostOrderByList.replyAmount}"></span>
                            </li>
                        </tr>
                    </ul>
                </div>
            </div>
            <div class="indexPublic">
                <div class="indexPublic_head">友情链接</div>
                <div class="indexPublic_con">
                    <ul class="indexLink">
                        <li><a href="https://www.baidu.com" target="_blank">百度</a></li>
                        <li><a href="https://ienjoys.com/" target="_blank">智慧享联网络技术有限公司官网</a></li>
                        <li><a href="https://www.jb51.net" target="_blank">脚本之家</a></li>
                        <li><a href="http://www.qq.com" target="_blank">腾讯首页</a></li>
                        <li><a href="https://www.twitter.com/" target="_blank">推特</a></li>
                        <li><a href="https://m.hujiang.com" target="_blank">沪江网校</a></li>
                        <li><a href="https://hk.google.com" target="_blank">谷歌</a></li>
                    </ul>
                </div>
            </div>
            <a href="https://ienjoys.com/" target="_blank">
                <div class="indexWxpublic">
                    <p>打开智慧享联官网</p>
                </div>
            </a>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="top" title="返回顶端"></div><!--返回顶部-->
<footer class="publicFooter">
    <p>Copyrigh &copy; 深圳市智慧享联网络技术有限公司 版权所有 粤ICP备05144415-1</p>
</footer>
<div id="outerdiv"
     style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:100;width:100%;height:100%;display:none;">
    <div id="innerdiv" style="position:absolute;">
        <img id="bigimg" style="border:5px solid #fff;" src=""/>
    </div>
</div>
</body>
</html>
<script>
    $(".indexMain_left_btn li a").click(function () {
        $(".indexMain_left_btn li a").removeClass("on");
        $(this).addClass("on");
    });
    window.onscroll = function () {
        var scrolls = document.body.scrollTop || document.documentElement.scrollTop;
        var slided = 60;
        if (scrolls >= slided) {
            $(".appear").hide();
            $(".navFix").show();
            $(".ltHead").addClass("navTop");
        } else {
            $(".appear").show();
            $(".navFix").hide();
            $(".ltHead").removeClass("navTop");
        }
    };
    /*  分页 */
    $(function () {
        var currentPage = [[${page.pageNum}]];
        var totalPages = [[${page.pages}]];
        $("#page").bootstrapPaginator({
            bootstrapMajorVersion: 3, //对应的bootstrap版本
            currentPage: currentPage, //当前页数
            numberOfPages: 8, //每次显示页数
            totalPages: totalPages, //总页数
            shouldShowPage: true,//是否显示该按钮
            useBootstrapTooltip: true,
            //点击事件
            onPageClicked: function (event, originalEvent, type, page) {
                window.location.href = "/index/postForJson?currentPage=" + page;
            }
        });
    });
    /**
     * 图片放大预览
     * @author chenhuayang
     * @version 2018/9/14
     */
    $(function () {
        $(".pimg").click(function () {
            var pthis = $(this);//将当前的pimg元素作为_this传入函数
            imgShow(pthis);
        });
    });

    function imgShow(pthis) {
        var image = new Image();
        var src = pthis.attr("src");//获取当前点击的pimg元素中的src属性
        $("#bigimg").attr("src", src);//设置#bigimg元素的src属性
        /*获取当前点击图片的真实大小，并显示弹出层及大图*/
        image.src = src;
        var windowW = $(window).width();//获取当前窗口宽度
        var windowH = $(window).height();//获取当前窗口高度
        var realWidth = image.width;//获取图片真实宽度
        var realHeight = image.height;//获取图片真实高度
        var imgWidth, imgHeight;
        var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放
        if (realHeight > windowH * scale) {//判断图片高度
            imgHeight = windowH * scale;//如大于窗口高度，图片高度进行缩放
            imgWidth = imgHeight / realHeight * realWidth;//等比例缩放宽度
            if (imgWidth > windowW * scale) {//如宽度扔大于窗口宽度
                imgWidth = windowW * scale;//再对宽度进行缩放
            }
        } else if (realWidth > windowW * scale) {//如图片高度合适，判断图片宽度
            imgWidth = windowW * scale;//如大于窗口宽度，图片宽度进行缩放
            imgHeight = imgWidth / realWidth * realHeight;//等比例缩放高度
        } else {//如果图片真实高度和宽度都符合要求，高宽不变
            imgWidth = realWidth;
            imgHeight = realHeight;
        }
        $("#bigimg").css("width", imgWidth);//以最终的宽度对图片缩放
        var w = (windowW - imgWidth) / 2;//计算图片与窗口左边距
        var h = (windowH - imgHeight) / 2;//计算图片与窗口上边距
        $("#innerdiv").css({"top": h, "left": w});//设置#innerdiv的top和left属性
        $("#outerdiv").fadeIn("fast");//淡入显示#outerdiv及.pimg
    }

    $("#outerdiv").click(function () {//再次点击淡出消失弹出层
        $(this).fadeOut("fast");
    });
    /**
     * 返回顶部
     * @author chenhuayang
     * @version 2018/10/15
     */
    var x;
    var otop;

    function myScroll() {
        var timer = setInterval(function () {
            var moveby = 15;
            x -= Math.ceil(x * moveby / 100);
            if (x <= 0) {
                x = 0;
                clearInterval(timer);
            }
            if (document.body.scrollTop) {
                document.body.scrollTop = x;
            }
            else {
                document.documentElement.scrollTop = x;
            }
        }, 20);
    }

    function switchD() {
        x = document.body.scrollTop || document.documentElement.scrollTop;
        if (x > 100) {
            otop.style.display = "block";
        }
        else {
            otop.style.display = "none";
        }
    }

    window.onload = function () {
        otop = document.getElementById("top");
        window.onscroll = switchD;
        otop.onclick = myScroll;
    };
    /**
     * 页面右侧第一个框框图片滚动
     * @author chenhuayang
     * @version 2018/10/16
     */
    var i = -1;
    var time = 0;
    junmper();

    function junmper() {
        i++;
        if (i > 4)
            i = 0;
        $(".nav ul li").eq(i).addClass("bg").siblings().removeClass("bg");
        $(".pic ul li").eq(i).fadeIn(100).siblings().fadeOut(100);
        $(".title ul li").eq(i).fadeIn(100).siblings().fadeOut(100);
    }

    time = setInterval("junmper()", 3700);
    $(".nav ul li").click(function () {
        i = $(this).index();
        $(".nav ul li").eq(i).addClass("bg").siblings().removeClass("bg");
        $(".pic ul li").eq(i).fadeIn(100).siblings().fadeOut(100);
        $(".title ul li").eq(i).fadeIn(100).siblings().fadeOut(100);
    });
    $(".nav ul li").hover(function () {
        clearInterval(time);
    }, function () {
        time = setInterval("junmper()", 3700);
    });
</script>