<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>板块信息2</title>
    <link rel="stylesheet" href="/bbs/css/reset.css"/>
    <link rel="stylesheet" href="/bbs/css/public.css"/>
    <link rel="stylesheet" href="/bbs/css/index.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" src="/../../js/searching.js"></script>
    <script type="text/javascript" src="../../js/user/modulePost.js"></script>
    <!-- 分页部分的样式 -->
    <link href="/bbs/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bbs/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/bbs/js/bootstrap-paginator.js" type="text/javascript"></script>
</head>
<body>
<header class="ltHead">
    <div class="ltHead_cen">
        <a href=""><img src="img/logo.png" alt="" class="headPic1"/></a>
        <ul class="headNav">
            <li><a href="/post/index">首页</a></li>
            <tr th:each="module : ${session.moduleList}">
                <!-- <li><a th:href="@{/post/moudelPost(code=${module.code},currentClassCode=${currentClassCode})}" th:text="${module.moduleName}"></a></li> -->
                <!-- <li><a href="javascript:void(0)" class="moduleClass" th:value="${module.code}"  
						th:text="${module.moduleName}"></a></li> -->
						<li><a href="javascript:void(0)" class="moduleClass" th:value="${module.code}"  
						th:text="${module.moduleName}"></a></li>
            </tr>
        </ul>
        <!--未登入开始-->
        <div th:if="${session.user1==null}">
            <div class="ltForm appear">
                <a href="">
                    <img src="img/indexForm_bg.png" alt="" class="headPic2"/>
                </a>
                <ul>
                    <li><a th:href="@{/user1/demo}">登录</a></li>
                    <li><a th:href="@{/user1/UserRegister}">注册</a></li>
                </ul>
            </div>
        </div>
        <div th:if="${session.user1!=null}">
            <div class="lt_login appear"
                 th:if="${session.user1.userName != null}">
                <ul>
                    <li><a href="/index/home" class="navMe" th:text="${session.user1.userName}"></a></li>
                    <li><a th:href="@{/user1/logOut}">退出</a></li>
                </ul>
            </div>
        </div>
        <!-- 隐藏框 -->
        <div th:if="${session.user1==null}">
            <div class="navFix">
                <a class="navLogin" th:href="@{/user1/demo}">登录</a>
            </div>
        </div>

        <div th:if="${session.user1!=null}">
            <div class="navFix">
                <a href="/index/home" class="navMe" th:text="${session.user1.userName}"></a>
                <a href="/index/write" class="navWrite">发新帖</a>
            </div>
        </div>
    </div>
</header>
<div class="indexMain">
    <div class="indexMain_left">
        <div class="indexMain_left_btn">
            <ul>
                <tr th:each="postClassList : ${session.postClass}">
                    <li>
                        <a th:text="${postClassList.className}"
                           th:href="@{/post/listPostByClassCode(classCode=${postClassList.code},code=${code})}"></a>
                    </li>
                </tr>
            </ul>
        </div>
        <div class="indexMain_left_con" id="postList">
            <tr th:each="post : ${page.result}">
                <div class="indexCon_msg">
                    <div class="indexCon_msg_pic">
                        <img src="/images/touxiang.jpg"/>
                    </div>
                    <div class="indexCon_msg_detail">
                        <a th:href="@{/post/getPostByCode(code=${post.code})}" target="_blank">
                            <div class="indexCon_msg_detail_tittle">
                                <span th:text="${post.className}"></span>
                                <p th:text="${post.title}"></p>
                            </div>
                        </a>
                        <div class="havePic" th:if="${post.icon}">
                            <a href="">
                                <div class="havePic_head">
                                    <img th:src="${'../img/read?path=' + post.icon}"
                                         onload="javascript:DrawImage(this,110)">
                                </div>
                            </a>
                        </div>
                        <div class="indexCon_msg_detail_other">
                            <ul>
                                <li th:text="${post.userName}"></li>
                                <li th:text="${#dates.format(post.createDate,'yyyy-MM-dd HH:mm:ss')}"></li>
                                <li th:text="${post.readingAmount}"></li>
                                <li th:text="${post.replyAmount}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </tr>
        </div>
        <div class="indexFooter">
            <!--   分页 -->
            <div class="container">
                <div>
                    <ul style="justify-content: center;" id="page"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="indexMain_right">
        <div class="indexMain_rightCon">
            <a href="/index/write" class="newMsg">发新帖</a>
            <div class="pwfb">
                <div class="pwfbHead">BBS论坛</div>
                <div class="pwfbCon"></div>
                <div class="pwfbFooter"></div>
            </div>
            <div class="search">
                <!--
                - 搜索帖子
                - author：chenhuayang 2018/8/13
                -->
                <form action="/post/searchingPostInfo" method="post" id="searching-post-result"
                      class="searching-post-result">
                    <input name="searchingDetails" class="searchingDetails" id="searchingDetails" style="color:#000;"
                           placeholder="请输入搜索关键字">
                    <select name="searchingType" class="searchingType" id="searchingType">
                        <option value="1">搜帖子</option>
                        <option value="2">搜作者</option>
                        <option value="3">搜时间</option>
                    </select>
                    <input type="submit" class="searchingPost" id="searchingPost" value="搜 索">
                </form>
            </div>
            <div class="indexPublic">
                <div class="indexPublic_head">本周热议</div>
                <div class="indexPublic_con">
                    <ul class="weekHot">
                        <tr th:each="PostOrderByList : ${session.PostOrderByList}">
                            <li>
                                <a th:href="@{/post/getPostByCode(code=${PostOrderByList.code})}"
                                   th:text="${PostOrderByList.title}"></a>
                                <span th:text="${PostOrderByList.readingAmount}"></span>
                            </li>
                        </tr>
                    </ul>
                </div>
            </div>
            <div class="indexPublic">
                <div class="indexPublic_head">友情链接</div>
                <div class="indexPublic_con">
                    <ul class="indexLink">
                        <li><a href="https://www.baidu.com" target="_blank">百度</a></li>
                        <li><a href="https://ienjoys.com/" target="_blank">智慧深圳市智慧享联网络技术有限公司</a></li>
                        <li><a href="https://www.jb51.net" target="_blank">脚本之家</a></li>
                        <li><a href="http://www.qq.com" target="_blank">腾讯首页</a></li>
                        <li><a href="https://www.twitter.com/" target="_blank">推特</a></li>
                        <li><a href="https://m.hujiang.com" target="_blank">沪江网校</a></li>
                        <li><a href="https://hk.google.com" target="_blank">谷歌</a></li>
                    </ul>
                </div>
            </div>
            <a href="https://ienjoys.com/" target="_blank">
                <div class="indexWxpublic">
                    <p>打开智慧享联官网</p>
                </div>
            </a>
        </div>
    </div>
    <div class="clear"></div>
</div>
<footer class="publicFooter">
    <p>Copyrigh &copy; 深圳市智慧享联网络技术有限公司 版权所有 粤ICP备05144415-1</p>
</footer>
</body>
</html>
<script>
    /**
     * @author chenhuayang
     * @version 2018/8/30
     * 图片按宽高比例进行自动缩放
     * @param ImgObj
     * 缩放图片源对象
     * @param maxWidth
     * 允许缩放的最大宽度
     * @param maxHeight
     * 允许缩放的最大高度
     * @usage
     * 调用：<img src="图片" onload="javascript:DrawImage(this,*,*)">
     */
    function DrawImage(ImgObj, maxHeight) {
        var image = new Image();
        //原图片原始地址（用于获取原图片的真实宽高，当<img>标签指定了宽、高时不受影响）
        image.src = ImgObj.src;
        // 用于设定图片的宽度和高度
        var tempWidth;
        var tempHeight;
        if (image.width > 0 && image.height > 0) {
            tempHeight = maxHeight;
            // 按原图片的比例进行缩放
            tempWidth = (image.width * maxHeight) / image.height;
            // 设置页面图片的宽和高
            ImgObj.height = tempHeight;
            ImgObj.width = tempWidth;
            // 提示图片的原来大小
            ImgObj.alt = image.width + "×" + image.height;
        }
    }

    $(".indexMain_left_btn li a").click(function () {
        $(".indexMain_left_btn li a").removeClass("on");
        $(this).addClass("on");
    });
    window.onscroll = function () {
        var scrolls = document.body.scrollTop || document.documentElement.scrollTop;
        var slided = 60;
        if (scrolls >= slided) {
            $(".appear").hide();
            $(".navFix").show();
            $(".ltHead").addClass("navTop");
        } else {
            $(".appear").show();
            $(".navFix").hide();
            $(".ltHead").removeClass("navTop");
        }
    };
    /*  分页 */
    $(function () {
        var currentPage = [[${page.pageNum}]];
        var totalPages = [[${page.pages}]];
        $("#page").bootstrapPaginator({
            bootstrapMajorVersion: 3, //对应的bootstrap版本
            currentPage: currentPage, //当前页数
            numberOfPages: 8, //每次显示页数
            totalPages: totalPages, //总页数
            shouldShowPage: true,//是否显示该按钮
            useBootstrapTooltip: true,
            //点击事件
            onPageClicked: function (event, originalEvent, type, page) {
                var currentClassCode = '[[${currentClassCode}]]';
                window.location.href = "/index/PostByClassCodeForJson?currentPage=" + page
                    + "&classCode=" + currentClassCode;
            }
        });
    });

</script>