<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>发表帖子</title>
    <link rel="stylesheet" href="/bbs/css/reset.css"/>
    <link rel="stylesheet" href="/bbs/css/public.css"/>
    <link rel="stylesheet" href="/bbs/css/index.css"/>
    <link rel="stylesheet" href="/bbs/css/write.css"/>
    <script type="text/javascript"   th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body>
<header class="ltHead">
    <div class="ltHead_cen">
        <a href=""><img src="img/logo.png" alt="" class="headPic1"/></a>
        <ul class="headNav">
            <li><a href="/post/index">首页</a></li>
            <tr th:each="module : ${session.moduleList}">
                <li><a th:href="@{/post/moudelPost(code=${module.code})}" th:text="${module.moduleName}"></a></li>
            </tr>
        </ul>
        <!--未登入开始-->
        <div th:if="${session.user1==null}">
            <div class="ltForm appear">
                <a href=""><img src="img/indexForm_bg.png" alt="" class="headPic2"/></a>
                <ul>
                    <li><a th:href="@{/user1/demo}">登录</a></li>
                    <li><a th:href="@{/user1/UserRegister}">注册</a></li>
                </ul>
            </div>
        </div>
        <div th:if="${session.user1!=null}">
            <div class="lt_login appear" th:if="${session.user1.userName != null}">
                <ul>
                    <li><a href="/index/home" class="navMe" th:text="${session.user1.userName}"></a></li>
                    <li><a th:href="@{/user1/logOut}">退出</a></li>
                </ul>
            </div>
        </div>
        <!-- 隐藏框 -->
        <div th:if="${session.user1==null}">
            <div class="navFix">
                <a class="navLogin" th:href="@{/user1/demo}">登录</a>
            </div>
        </div>
    </div>
</header>
<div class="writeCon">
    <div class="writeCon_head">
        <p>发新帖</p>
    </div>
    <div class="writeCon_cen">
    <form action="/post/savePost" method="POST"
		enctype="multipart/form-data" onsubmit=" return judgeSlt()">
        <div class="writePic">
            <input type="file" name="filename" accept=".jpeg, .jpg, .png"  multiple/><!-- class="upload_file" -->
        </div>
        <div class="writeMsg">
            <input type="text" name="title" id="inputTitle" placeholder="请输入标题"/>
        </div>
        <div class="chooseDevide">
            <div class="chooseDevide_left">
                所在分类
            </div>
            <div class="chooseDevide_right">
                <div class="nice-select" name="nice-select">
                    <input id="postClassCodeslt" type="text" value="请选择" readonly style="float:right" name="postClassCode">
                    <ul>
                       <tr th:each="postClass : ${session.postClassList}">
			           <li class="click" th:data-val="${postClass.code}" th:text="${postClass.className}"></li>
			           </tr>
                    </ul>
                </div>
            </div>
        </div>
        <textarea class="writeDown" name="article"  style=" font-size:16px;"></textarea>
       <!--  <input class="writeDown" name="article" /> -->
        <input type="submit" class="reform" value="发布"/>
    </form>    
    </div>
</div>
</body>
</html>
<script>
    $('[name="nice-select"]').click(function(e){
        $('[name="nice-select"]').find('ul').hide();
        $(this).find('ul').show();
        e.stopPropagation();
    });
    $('[name="nice-select"] li').hover(function(e){
        $(this).toggleClass('on');
        e.stopPropagation();
    });
    $('[name="nice-select"] li').click(function(e){
        var val = $(this).text();
        var dataVal = $(this).attr("data-value");
        $(this).parents('[name="nice-select"]').find('input').val(val);
        $('[name="nice-select"] ul').hide();
        e.stopPropagation();
    });
    $(document).click(function(){
        $('[name="nice-select"] ul').hide();
    });
    
    function judgeSlt(){
    	var slt=document.getElementById("postClassCodeslt");
    	var inputTitle=document.getElementById("inputTitle");
    	if(slt.value=="请选择"){
    	alert("请选择一个帖子类别！");
    	return false;
    	}else if(inputTitle.value==""){
    	alert("请输入帖子标题！");
    	return false;
    	}
    	return true;
    	}
</script>