<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>主要内容区main</title>
<link href="/css/css.css" type="text/css" rel="stylesheet" />
<link href="/css/main.css" type="text/css" rel="stylesheet" />
<link href="/css/main2.css" type="text/css" rel="stylesheet" />
<link rel="shortcut icon" href="/images/main/favicon.ico" />
</head>
<body>
<!--main_top-->
<table width="99%" border="0" cellspacing="0" cellpadding="0" id="main">
  <tr>
    <td colspan="2" align="left" valign="top">
    <span class="time"><strong th:text="${session.userRole1.userName}"></strong><u>[超级管理员]</u></span>
    <div class="top"><span class="left">您登录IP地址为：<strong th:text="${session.ipAddress}"></strong> &nbsp;&nbsp;&nbsp;&nbsp;如非您本人操作，请及时</span><a href="#" target="mainFrame" onFocus="this.blur()">更改密码</a></div>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top" width="50%">
    <div class="main-tit">网站信息</div>
    <div class="main-con">
 管理员/版主注册：暂未开启<br/>
管理员管理BBS后台数据：开启<br/>
管理员个数：<font color="#538ec6"><strong th:text="${session.ManageNumber}"></strong></font> 人<br/>
登陆者IP：<strong th:text="${session.ipAddress}"></strong></strong><br/>
程序编码：UTF-8<br/>
    </div>
    </td>
    <td align="left" valign="top" width="49%">
    <div class="main-tit">服务器信息</div>
    <div class="main-con">
服务器软件：apache-tomcat(Win64)<br/>
Tomcat版本：7.0.88<br/>
MYSQL版本：5.5.40-community-nt<br/>
魔术引用：开启 (建议开启)<br/>
使用域名：gemdale.com<br/>
    </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top">
    <div class="main-corpy">系统提示</div>
    <div class="main-order">1=>如您在使用过程有发现出错请及时与我们取得联系；为保证您得到我们的后续服务，强烈建议您购买我们的正版系统或向我们定制系统！<br/>
2=>强烈建议您将IE7以上版本或其他的浏览器</div>
    </td>
  </tr>
</table>
</body>
</html>